<div class="prod-card" *ngIf="product">
    <div class="prod-card-in">
        <div class="img-cont">
            <a class="img-link" href="#">
                <img class="img-css" alt="{{product.title}}" src="{{product.image_url}}"
                    onError="this.src='assets/images/products/default-product.jpg';">
                <h2 class="prod-title">{{product.title}}</h2>
            </a>
        </div>
        <div class="price-cont">
            <p class="price-from">From:</p>
            <p class="price">{{product.price | currency:selectedCurr}}</p>
        </div>
        <button type="button" (click)="addToCartx()" class="add-to-cart-btn">Add to Cart</button>
    </div>
</div>