.close {
  font-size: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  // letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  // letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  // letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  // color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  // letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.side-nav-bar {
  position: fixed;
  z-index: 1001;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .side-nav-bar-overlay {
    background-color: #6e7b70;
    opacity: 0.6;
    width: 100%;
    height: 100%;
  }

  .side-nav-bar-menu-container {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #f2f2ef;
    display: flex;
    flex-direction: column;

    .side-nav-bar-close {
      display: inline-block;
      font-size: 2.5em;
      margin: 24px 0px 0px 24px;
      cursor: pointer;
    }
  }

  .side-nav-bar-content-container {
    padding: 32px;
    position: relative;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    // .content{
    //   position: relative;
    // }
  }
}

.side-nav-bar-overlay-collapsed {
  background: transparent !important;
}

.side-nav-bar-collapsed {
  visibility: collapse !important;
}
.d-flex {
  display: flex;
  margin-top: 50px;
  &.justify-content-between {
    justify-content: space-between;
  }
}

.currency-select-row {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  select {
    cursor: pointer;
  }
  .currency-select {
    padding: 8px 13px 5px 10px;
    background-position: 100% 60%;
  }
}

.react-cart-body {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-flex: 1;
  flex: 1;
  overflow-y: auto;
  max-height: 75%;
  position: relative;
  width: 100%;

  .cart-item {
    display: flex;
    flex-wrap: wrap;
    min-height: inherit;
    max-height: inherit;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
    background: #fff;

    .product-description {
      color: #1e2d2b;
      width: 60%;
      line-height: 18px;
      font-size: 10px;
      padding: 15px 13px 13px 21px;
      letter-spacing: 0.02px;
      min-height: 100px;

      .remove-product {
        float: right;
        padding-right: 5px;
        position: absolute;
        right: 27px;
        margin-top: -10px;
        margin-right: -20px;
        font-size: 20px;
        opacity: 0.7;
        cursor: pointer;
        color: #000;
      }

      h6 {
        color: #1e2d2b;
        margin-bottom: 0;
        font-size: 13px;
        letter-spacing: 0.03px;
        padding: 0;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        line-height: 1.5;
      }

      .quantity,
      .cart-item .product-description .quantity-selector {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;

        .price {
          float: right;
          padding: 0 10px;
          width: inherit;
          font-size: 13px;
          letter-spacing: 0.03px;
        }

        .quantity-selector {
          border: 0.5px solid #bcbcbc;
          padding: 7px;
          width: 76px;
        }

        .counter-action {
          cursor: pointer;
          color: #000;
          font-size: 15px;
        }
        .counter {
          padding: 0 10px;
          font-size: 13px;
        }
      }
    }

    .product-image {
      background-color: #fdfdfd;
      display: flex;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      color: #1e2d2b;
      width: 30%;
      padding-right: 15px;
      margin-top: 30px;
    }
  }
}

.cart-footer2 {
  border-top: 1px solid #d0d0d0;
  box-shadow: 0 -4px 12px rgb(0 0 0 / 15%);
  z-index: 1;
  padding: 0 20px 20px;
  position: absolute;
  bottom: 0;
  // width: 100%;
  .cart-subtotal {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 15px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border: 0 solid #6e7b70;
    border-top: none;
    .subtotal-price {
      font-family: FF Bau Medium, san-serif;
      display: -webkit-box;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      flex-direction: column;
      -webkit-box-align: end;
      align-items: flex-end;
    }
  }
  .react-cart-buttons {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 15px;
    .subscription-btn {
      font-size: 12px;
      font-weight: 400;
      font-style: normal;
      padding: 16px 20px;
      text-align: center;
      text-decoration: none;
      color: #2b2e2b;
      letter-spacing: 0.96px;
      border: 1px solid #2b2e2b;
      background-color: #fff;
    }
    .checkout-btn {
      color: #fff;
      letter-spacing: 2px;
      background-color: #4b5548;
      border: none;
      margin-top: 15px;
      font-size: 12px;
      font-weight: 400;
      font-style: normal;
      padding: 16px 20px;
      text-align: center;
      text-decoration: none;
    }
  }
}
